page-profil {
    .profil{
        margin:160px 10px 0 10px;
    }

    ion-label{
        width:145px;
    }

    .suivant{
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        left: 0;
    }
}
