page-launch {
    ion-slides{
        background: linear-gradient(#25FFBD, #27DECF);
        
    }  

    @font-face {
        font-family: 'metric';
        src: url('../../assets/fonts/Metric-Black.otf');
  
    }

    h1, h2{
        line-height:42px;
      
        
    }

    .icons{
        margin: auto;
        max-width: 100%;
        height: auto;
    }

    h1{
        margin: 0;
        font-family: 'metric',sans-serif;
        font-weight: bold;
        font-size: 3.8rem; 
        line-height: 35px;
        width: 300px;
        text-align: left;
        padding-left: 30px;
        margin-bottom: 0;
    }

    .test{
        height: 200px;
        margin: 0;
        font-family: 'metric',sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 3rem;
        padding-top: 135px;

    }

    .btn{
        bottom: 0;

    }

    .logo{
        margin: 0;
        text-align: center;
    }

    .swiper-pagination-bullet-active{
        background: white;

    }

    .button{
        border-radius: 5px;
        width: 145px;
        height: 50px;
        font-weight: bold;
    }
}