page-launch {
    ion-slides{
        background-color: white; //rectif de bug sur ios
    }

    h1, h2{
        line-height:42px;
    }
    .slide1 h1{
        margin:0;
        font-size:6rem;
    }

    .slide1 h2{
        font-size:4rem;
        position:relative;
        left:20px;
    }
}
