page-time {

    @font-face {
        font-family: 'metric';
        src: url('../../assets/fonts/Metric-Black.otf');
  
    }
  
    ion-content{
        background: linear-gradient(#25FFBD, #27DECF);
      
    }

    .toolbar-background-md{

        background: transparent;
        box-shadow: none !important;
    
    }
    
    .scroll-content{
    padding-top: 0px;
    
    }
    
    .mentions{  
        position: absolute;
        right:14px; 
        top: 20px;  
    }

    .iconnext{  
        position: absolute;
        right:14px;   
    }

    h1{
        line-height: 30px;
    }

    h1, ion-datetime{
        text-align: center;
        font-family: 'metric',sans-serif;
        font-weight: bold;
        font-size: 3rem; 
    }

    ion-datetime{
        background:white;
        margin:80px;
    }

    .suivant{
        position: absolute;
        height: 50px;
        font-size:1.5rem;
        font-weight: bold;
        bottom: 0;
        margin: 0;
        width: 100%;
        left: 0;
        background-color: white;
        color: black;
        text-align: center;
        
    
    }


}
